#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.inner-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.inner-table th,
.inner-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

input[type="text"] {
  margin-bottom: 20px;
  padding: 8px;
  width: 50%;
}

.expand-arrow {
  cursor: pointer;
  margin-right: 5px;
}